{% extends "layout.html" %}
{% block content %}

<div class="about-section">
    <legend class="border-bottom mb-4">
                    
        404

    </legend>
    <div class="row">
        <div class="col-12">
            <img class="centered" src="../static/not-found.png" alt="Sad web browser that can't find your requested web page">
        </div>

    </div>  
    
    <br>

    <div class="col-12">
        <div class="centered">
            We can't seem to find the page you were looking for. Double check your request and try again.
        </div>

    </div>
    
</div>



{% endblock content %}